<%- include('layouts/header.ejs') %>

<% if (!login) { %>
  <script>
    window.location.href = "/";
  </script>
<% } else { %>
  <p>test user : <%= login %></p>
  <p>fullname : <%= user.use_fullname %></p>
  <p>test isValid: <%= isValid %></p>
<% } %>

<%- include('layouts/footer.ejs') %>
