
<% if(!locals.login){
     window.location.href = "/";
}else{ %>
<%- include('layouts/header.ejs') %>

<p>test user : <%= login %></p>
<p>fullname : <%= user.use_fullname %></p>
<p>test isValid: <%= isValid %></p>

<%- include('layouts/footer.ejs') %>
<% } %>